<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BarberShop</title>
  <link rel="stylesheet" href="css/contacts.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/profile.css">

<% include _header %>
<% include _topMenu %>

<div class="profileContainer">
  <h2 class="profile_header"> Личный кабинет пользователя</h2>
  <div class="container">
	<div class="row">
	  	<p class="person_info_p">Фамилия: 
	  		<span id="person_info_surname" class="person_info_span">
	  			<%= profile.getSurname() %>
	  		</span>
	  	</p>
  	</div>
  	<div class="row">
	  	<p class="person_info_p">Имя: 
	  		<span id="person_info_name" class="person_info_span">
	  			<%= profile.getName() %>
	  		</span>
	  	</p>
  	</div>
  	<div class="row">
	  	<p class="person_info_p">Отчество: 
	  		<span id="person_info_patronymic" class="person_info_span">
	  			<%= profile.getPatronymic() %>
	  		</span>
	  	</p>
  	</div>
  	<div class="row">
	  	<p class="person_info_p">Телефон: 
	  		<span id="person_info_phoneNumber" class="person_info_span">
	  			<%= profile.getPhoneNumber() %>
	  		</span>
	  	</p>
  	</div>
  	<div class="row">
	  	<p class="person_info_p">Почта: 
	  		<span id="person_info_email" class="person_info_span">
	  			<%= profile.getMail() %>
	  		</span>
	  	</p>
  	</div>

		<div class="my-5 mx-auto ">
			<button class="btn btn-dark btn-lg" data-toggle="modal" data-target="#editModal">Редактировать</button>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editModalLabel">Данные профиля</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="editProfileForm" action="/profile" method="post">
						<div class="form-group">
							<label for="editForm_surname">Фамилия:</label>
							<input id="editForm_surname" class="form-control" name="surname" type="text" >						
						</div>
						<div class="form-group">
							<label for="editForm_name">Имя:</label>
							<input id="editForm_name" class="form-control" name="name" type="text" >
						</div>
						<div class="form-group">
							<label for="editForm_patronymic">Отчество:</label>
							<input id="editForm_patronymic" class="form-control" name="patronymic" type="text" >
						</div>
						<div class="form-group">
							<label for="editForm_phoneNumber">Телефон:</label>
							<input id="editForm_phoneNumber" class="form-control" name="phoneNumber" type="text" >
						</div>
						<div class="form-group">
							<label for="editForm_email">email:</label>
							<input id="editForm_email" class="form-control" name="mail" type="text" pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;" title="некорректный адрес">
						</div>
						<button id="button" class="btn btn-success" type="submit">
						Сохранить</button>
						
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="client_recordsBlock">
		<h3 class="">Ваши записи</h3>
		<% if (records && records.length !== 0) { records.forEach( function(record) { %>
		<div class="record_block">		
			<div class="record_block_info">
				<p class="record_block_p"> 
					<span class="service_name"><%= record.getServiceId() %></span>
				</p>
				<p class="record_block_p">
					Дата:  
					<span><%= record.getDate().getDate() %>.<%= record.getDate().getMonth() + 1 %>.<%= record.getDate().getFullYear() %> </span>
				</p>
				<p class="record_block_p">
					Время: 
					<span><%= record.getTime()%></span>
				</p>
				<p class="">
					<button value="<%= record.getId() %>" class="cancelRecord_btn choose_btn">Отменить</button>
				</p>
			</div>
			<div class="record_block_img">
				<img src="">
			</div>
		</div>
		<% }) } else { %>
			<p class="record_block_p">Вы не записаны ни на одну услугу</p>
		<% } %>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

<!-- Маска для номера телефона -->
<script src="js/jquery.maskedinput.min.js"></script>

<script src="js/privateOffice.js"></script>

</body>

</html>